{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "printWidth": 120,
    "proseWrap": "preserve",
    "semi": false,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 2
}